[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/jshint.vim"]
	path = vim/bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
